* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    color: #1d273b;
    font-weight: 300;
}

.contenedor {
    width: 90%;
    max-width: 1000px;
    margin: auto;
    overflow: hidden;
}

.contenedor1 {
    width: 90%;
    max-width: 1000px;
    margin: auto;
    overflow: hidden;
    padding: 60px 0;
}

h1 {
    font-size: 48px;
}

/* Header */
header::before {
    content: "";
    display: block;
    margin-bottom: 80px;
}


nav {
    width: 100%;
    height: 80px;
    background: #ffffff;
    border-bottom: 1px solid transparent;
    box-shadow: 1px 1px 10px 0 rgba(0, 0, 0, .2);
    position: fixed;
    top: 0;
    z-index: 100;
    /* transition: ease-in-out 0.5s; */
}

.nav {
    display: flex;
    justify-content: space-between;
    height: 80px;
    width: 100%;
    align-items: center;
    padding: 0 40px;
}

.nav .logo img {
    height: 100%;
    vertical-align: top;
}

.enlaces-header {
    font-weight: 300;
}

.nav .enlaces-header {
    color: #5d6678;
    text-decoration: none;
    margin-left: 20px;
}

.enlaces-header a {
    text-decoration: none;
    margin: 10px;
    color: #000000;
}

.enlaces-header a:hover {
    color: #D29BFD;
    transition: color .5s;
}

.contenido-header {
    width: 100%;
    height: 600px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.contenido-header > img {
    width: 550px;
    animation: ease-in animat 1.5s;
}

@keyframes animat {
    0%{
        transform: scale(0);
    }100%{
        transform: scale(1);
    }
}

.textos-header {
    margin: 0 0 0 30px;
}

.contenido-header p {
    font-size: 18px;
    font-weight: 100;
    margin-top: 14px;
    color: #5d6678;
}

.titulo {
    font-size: 48px;
    text-align: center;
}

.about-us {
    background: #f2f2f2;
}

.contenedor-articulo {
    display: flex;
    flex-wrap: wrap;
    margin-top: 60px;
    justify-content: space-around;
}

.articulo {
    width: 100%;
    background: #ffffff;
    margin-bottom: 30px;
    border-radius: 10px;
    padding: 45px 30px 60px 30px;
    transition: 0.5s;
}

.articulo > p {
    font-size: 20px;
    font-weight: 100;
    color: #5D6678;
    margin-top: 15px;
    padding-bottom: 5px;
    text-align: center;
    padding: 15px;
}

footer {
    background: #f2f2f2;
    padding: 60px 0;
    overflow: hidden;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin: auto;
}

.partFooter {
    margin: 30px;
    width: 25%;
    text-align: center;
}

.partFooter h4 {
    color: #1d273b;
    font-size: 20px;
    font-weight: 400;
    margin-bottom: 30px;
}

.partFooter a {
    display: block;
    text-decoration: none;
    color: #5D6678;
    font-weight: 300;
    transition: color .3s ease-in-out;
    margin-bottom: 10px;
}

.partFooter a:hover {
    color: #D29BFD;
}

.social-media i {
    font-size: 20px;
    display: inline-block;
    color: #adb6c7;
    border: 1px solid #adb6c7;
    border-radius: 50%;
    width: 38px;
    height: 38px;
    line-height: 36px;
    cursor: pointer;
    margin-top: 20px;
    text-align: center;
    transition: all ease-in-out .3s;
    margin-right: 5px;
}

.social-media i:hover {
    color: #ffffff;
    background-color: #D29BFD;
    border-color: #D29BFD;
}

@media screen and (max-width: 800px){
    .titulo {
        font-size: 45px;
    }

    .contenido-header {
        flex-direction: column;
        justify-content: space-evenly;
        height: 500px;
    }

    .contenido-header > img {
        width: 400px;
    }

    .textos-header {
        margin-top: 10px;
        text-align: center;
    }

    /* About us */

    .articulo {
        width: 80%;
    }

    footer {
        justify-content: space-evenly;
    }

    .partFooter {
        width: 40%;
        margin-bottom: 40px;
    }
}

@media screen and (max-width: 600px){
    .titulo {
        font-size: 35px;
    }

    h1 {
        font-size: 40px;
    }

    .contenido-header {
        height: 450px;
    }

    .nav {
        padding: 0 10px;
    }

    .contenido-header > img {
        width: 300px;
    }

    .enlaces-header {
        display: flex;
    }

    .enlaces-header a {
        font-size: 15px;
    }

    /* About us */

    .articulo {
        width: 75%;
    }
}

/* Me */

.me img {
    display: block;
    width: 250px;
    border-radius: 50%;
    margin-left: 125px;
    margin-bottom: 0px;
    margin-top: 10px;
    box-shadow: #000000;
}

.me img:hover {
    transition: ease-in-out 0.5s;
    box-shadow: 0 4px 10px rgba(0, 0, 0, .45);
}

.me h3 {
    font-weight: 300;
}

.caracteristicas p {
    font-size: 18px;
    text-align: center;
    font-weight: 100;
}